.header{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.navbar{
    position: relative;
    min-height: 70px;
    margin-bottom: 20px;
    background-color:rgba(255, 255, 255, 0.753);  
}

a:link{
    color: #127A23;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #127A23;
    text-decoration: underline;
}
.mundoimg{
    position: absolute;
    top:10px ;
}
.aaa{
    position: absolute;
    top: 30px;
    left: 480px;
    overflow: hidden;
}
a{
    position: relative;
    margin-right: 70px;
    justify-content: space-around;
}
.btn-login{
    position: relative;
    align-items: center;
    background-color: rgba(240, 240, 240, 0);
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    box-sizing: border-box;
    color: #127A23;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80px;
    height: 40px;
    margin-top: 16px;
    margin-left: 1150px;
}

.btn-login:active,
.btn-login:hover {
  outline: 0;
}

.btn-login:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}
