
html, body {
    height: 100%; /* Define a altura como 100% para ocupar toda a tela */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove preenchimento interno */
    background-color: black;
}
.background-img{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; /* A imagem ocupará toda a largura da div */
    height: 100%; /* A imagem ocupará toda a altura da div */
    object-fit: cover; /* Ajusta a imagem para cobrir a div, mantendo a proporção */
}
.name01{    
    position: absolute;
    width: 70%;
    height: 70%;
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
    background-color: rgb(255,255,255,0.4);

}
.nome02{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-top: 50px;
}
.parag01{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.secund{
    display: block;
    height: 900px;
    border: 2px solid blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.sectitle{
    display: flex;
    height: 80px;
    text-justify: auto;
    justify-content: center;
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(28, 173, 76);
}
.container{
    position: relative;
    height: auto;
    padding-top: 10px;
    align-items: center;
    border: 2px solid red;
}
.box{
    display: inline-flex;
    width: 200px;
    height: 300px;
    margin-left: 60px;
    margin-top: 50px;
    border: 2px solid green;
    justify-content: center;
    background-color: white;

}
footer {
    display: block;
    background-color: #524d4d;
    color: white;
    text-align: center;
    
}
